div.block {
    border: 4px dashed #0003;
    padding: .5em;
    margin: .5em;
    display: inline-block;
    vertical-align: top;
}
div.card {
    text-align: center;
    display: inline-block;
    padding: .5em;
}